/* ==UserStyle==
@name           mastodon.uno - 15/11/2022, 12:13:00
@namespace      github.com/openstyles/stylus
@version        1.0.1
@description    Cleaner look for Mastodon
@author         Alessandro Melandri
==/UserStyle== */

@-moz-document domain("mastodon.uno") {
    
:root {
	--white:        #ffffff;
	--background:   #eef0f4;
    --gray:         #797979;
    --darkgray:     #4f4f4f;
    --lightgray1:   #e3e8ea;
    --lightgray2:   #f6f8fb;
	--lightgray3:   #f4f4f4;
	--lightgray4:   #f9f9f9;
    --lightyellow1: #fff6eb;
    --lightyellow2: #f9e4c3;
    --lightblue:    #bcdef7;    
    --blue:         #3a3bff;
	--mutedblack  : #090909;
	
	--border-radius: 6px;
}

body{
	background: var(--background);
}

/* ----- Column width */

@media screen and (min-width: 1500px) {
    
    .columns-area__panels__main{
        max-width: 750px !important;
    }

    .columns-area__panels__pane--compositional, .columns-area__panels__pane--compositional > .columns-area__panels__pane__inner,  .compose-panel{
        width: 350px;
    }
	
    
}


@media screen and (min-width: 1330px) and (max-width: 1500px)  {
    
    .columns-area__panels__main{
        max-width: 750px !important;
    }

    .columns-area__panels__pane--compositional, .columns-area__panels__pane--compositional > .columns-area__panels__pane__inner,  .compose-panel{
        width: 300px;
    }
	
	.columns-area__panels{
		padding-left: 35px;
	}

}


.columns-area__panels__pane--navigational, .columns-area__panels__pane--navigational > .columns-area__panels__pane__inner{
    width: 200px;
}


.tabs-bar{
    border-color: var(--background);
    border-radius: var(--border-radius);
}


/* ----- Right sidebar */

.columns-area__panels__pane--navigational a{
    opacity: 0.8;
	font-size: 0.95rem;
	padding: 11px 15px 11px 5px;
}

.getting-started__trends{
    opacity: 0.3;
    transition:opacity 0.5s;
}

.getting-started__trends:hover{
     opacity: 0.8;
}

.trends__item__current span{
    font-size: 20px
}

.column-link{
    padding: 15px 15px 15px 5px;
}

.trends__item__current{
	padding-right: 5px
}

.trends__item__current span{
	font-size: 1rem;
}

.trends__item__name a{
	padding: 5px 0 5px 0;
}

.trends__item__name a span {
	font-size: 0.85rem
}

.trends__item__name span {
	font-size: 0.72rem
}

.navigation-panel hr{
	opacity: 0.5
}


/* ----- Left sidebar */

.compose__action-bar-dropdown button{
    opacity: 0.8;
}

.search__input{
    border-radius: var(--border-radius);
    background-color: var(--white);
    border: 0;
	padding: 14px 30px 15px 14px;
	color: var(--gray);
    font-size: 0.9rem;
}

.search__input:focus{
	background: var(--white);
	box-shadow: inset 0px 0px 2px var(--blue);
}
    
.compose-form{
    padding: 0;
}

.compose-form .autosuggest-textarea__textarea{
	color: var(--mutedblack);
	letter-spacing: 0.02rem;
}

.emoji-picker-dropdown .emojione{
    content: url("/emoji/1f600.svg");
}

.compose-form__autosuggest-wrapper{
    height: 220px;
    border-width: 0 0 1px 0;
	border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
	border-color: var(--background)
}

.compose-form .compose-form__buttons-wrapper{
	border-width: 0;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	background: var(--lightgray2);
}

.link-footer{
    opacity: 0.3;
    transition:opacity 0.5s;
}

.link-footer:hover{
    opacity: 0.8;
}

.reply-indicator{
    background-color: var(--lightblue);
}

.reply-indicator a{
    color: var(--blue);
}
    
.navigation-bar{
    padding: 5px 0 15px 2px;
}

.navigation-bar__profile{
    height: 42px
}

.navigation-bar__profile-account{
    font-size: 16px;
    opacity: 0.9;
    display: block;
    margin-bottom: 5px;
   
}

.navigation-bar__profile-edit{
    opacity: 0.4 !important;
}

/* ----- Main column */

.tabs-bar__wrapper{
	background: var(--background);
}

.column-header, .column-back-button{
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-width: 0 0 1px 0;
	border-color: var(--background);
}

.column-header button{
	color: var(--mutedblack);
	letter-spacing: 0.01rem
}

.column-header__icon{
	color: var(--blue)
}

.column-header__collapsible-inner{
	background: var(--lightyellow1);
	border-width: 0 0 1px 0;
	border-color: var(--background);
}

.account__section-headline, .notification__filter-bar, .account__section-headline button, .notification__filter-bar button{
    background-color: var(--lightgray2) !important;
    border-color: var(--background);
	border-width: 1px 0 1px 0;
}

.status{
     border-color: var(--background);
	border-width: 1px
}

.column-inline-form, .column > .scrollable, .error-column, .getting-started, .regeneration-indicator{
   border: 0;
}

.announcements{
    background-color: var(--lightyellow1);
    border-color: var(--background);
}

.detailed-status__action-bar{
     border-color: var(--background);
}

.columns-area--mobile .status__action-bar{
	margin-top: 20px;
	opacity: 0.7;
	transition:opacity 0.3s;
}

.columns-area--mobile .status__action-bar:hover{
	opacity: 1
}

.display-name__account{
	opacity: 0.5;
	transition:opacity 0.3s;
}

.status__relative-time{
	opacity: 0.5;
	transition:opacity 0.3s;
}

.status__relative-time:hover{
	opacity: 1
}

.status__wrapper--filtered{
	background-image: repeating-linear-gradient(135deg, var(--lightgray3), var(--lightgray3) 10px, var(--lightgray4) 10px, var(--lightgray4) 20px);
	font-weight: bold;
	letter-spacing: 0.1rem;
	font-size: 0.90rem;
	text-transform: uppercase;
	color: var(--gray);
	border-color: var(--background)
}

.reply-indicator__content p, .status__content p{
	line-height: 1.4rem;
	margin-bottom: 0.8rem
}

.detailed-status .status__content p{
	line-height: 1.6rem;
	color: var(--mutedblack);
	font-size: 1rem;
	margin-bottom: 0.8rem
}

.status-card.compact{
	border-color: var(--lightgray1)
}

a.status-card.compact:hover{
	background: var(--background);
}

/* ----- Direct messages page */

.follow_requests-unlocked_explanation{
     background-color: var(--lightyellow1);
	border-bottom: 1px solid var(--background)
}

.conversation{
    border-color: var(--background);
}


/* ----- Trends page */

.trends__item{
    border-color: var(--background);
}


/* ----- News page */

.story{
    border-color: var(--background);
}


/* ----- Lists page */

.setting-text{
    padding: 7px;
}

.getting-started .column-link, .scrollable .column-link{
	border-bottom: 1px solid var(--lightgray1);
}

/* ----- For you page */

.scrollable .account-card{
    background-color: var(--lightgray1);
}

.account-card__bio::after{
    display: none;
}

/* ----- Profile page */


.account__header .account__header__fields{
    margin: 10px 0 0 0 !important;
    border-left: 1px solid var(--lightgray1);
    border-right: 1px solid var(--lightgray1);
    border-radius: var(--border-radius);
}

  
.account__header__bio .account__header__fields .verified{
    border-width: 0;
}
    
.account__header__bio .account__header__fields .verified ~ .verified{
    border-width: 1px 0 0 0;
}


.account__header__bio .account__header__fields, .account__header__bar, .account__header__fields dl{
    border-color: var(--background);
}



.account__header__content{
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: var(--darkgray) !important;
    padding: 20px 0px !important;
}

.account__header__account-note{
    margin: 20px 0px 0 0px;
    border:0;
    border-radius: var(--border-radius);
    background-color: var(--lightyellow1);
}
    
.account__header__account-note label{
    padding: 10px 10px 0 10px;
}
    
.account__header__account-note textarea{
    width: 100% !important;
    margin: 0;
}

.account__header__account-note__content:focus{
    background-color: var(--lightyellow2) !important;
}

.account__header__bio{
    border-bottom: 1px solid var(--background);
    padding-bottom: 1em;
    margin-bottom: 5px !important;
}

.account__header__fields dt, .account__header__fields dd{
    text-align: left;
    padding: 10px 14px;
}

.account__header .account__header__fields dt{
    width: 180px;
}

.account__header__fields .verified__mark{
    float: right;
    padding-top: 3px
}

.columns-area--mobile .account__header__bio .account__header__joined{
    margin-top: 10px;
    background-color: var(--lightgray1);
    float: left;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    color: var(--gray);
}
}
